
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&family=Poppins:wght@300;500;600;700&family=Quicksand:wght@300;500;700&family=Roboto:wght@300&display=swap');





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;

}
.content{
  display: flex;
  
}
.qrcode{
    padding:150px;
}
.smallbox{
  width:400px;
  height:30px;
  border: 1px solid black;
  outline: none;
  padding-left:5px ;
  border: none;
  background-color: blanchedalmond;
  border-radius: 3px;
  border:1px solid black;

}

.field_outer{
  width: 50%;
   margin-top: 10px; 
  margin-left: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  display: flex; 
  justify-content:center;
  align-items: center;
}
.field_inner{
  padding-top:30px;
  width:400px;
  height:85vh;


}
.field_first{
    display: flex;
    flex-direction: column;
    

}
.inputfirst{
  width:400px !important;
  height:30px;
  outline: none;
  padding-left:5px ;
  border: none;
  background-color: blanchedalmond;
  border-radius: 3px;
  border:1px solid black;
  
}
.field_second{
  display: flex;
  padding-top:20px;
  font-size:25px;
  justify-content: space-between !important;
}
.inputsecond{
  width:200px !important;
  height:30px;
  outline: none;
  margin-right:2px;
  border-radius: 3px;
  padding-left:5px ;
  border: none;
  background-color: blanchedalmond;
  border:1px solid black;
}
.field_third{
  padding-top:20px;
  font-size:25px;
}
.field_fourth{
  padding-top:15px;
  font-size:25px;
}
.field_fifth{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}
.field_fifth>select{
  width:70px;
}
.field_six{
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.six{
  border: none;
  outline: none;
  width:180px;
  height:30px;
  background-color: blue;
  font-size:17px;
  font-weight: 700;
  color: antiquewhite;
  transition: transform  500ms ease-in-out ;
}
.six:hover{
  transform: scale(1.03);
  cursor: pointer;
}
